<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.demo.mapper.HelloMapper">
    <insert id="createUserAccount" parameterType="com.demo.bean.CreateUserAccountBean" 
    flushCache="true" timeout="20" >
        insert into user_account (userId, password, auth) values(#{userId} , #{userPw}, 1) 
    </insert>
    
    <!-- get user_account -->
    <select id="selectUser" resultType="com.demo.bean.SelectUserBean">
        select * from user_account where userId = #{userId} and password = #{userPw} LIMIT 1
    </select>
    
    <!-- get user_info -->
    <select id="selectUserInfo" resultType="com.demo.bean.UserInfoBean">
        SELECT user_account.userId, item_info.itemName,  item_info.total, item_info.cost  FROM user_account
        INNER JOIN item_info ON user_account.auth = item_info.auth
        WHERE user_account.userId = #{userId}
    </select>

    <!-- add_Item -->
    <insert id="createItem" >
        INSERT into item_info (itemName, total, cost, auth) 
        values(#{itemName} , #{total}, #{cost}, #{auth});
    </insert>
        
   <!-- update_Item -->
    <update id="renewItem" >
        UPDATE item_info SET total = #{total}, cost = #{cost}, auth = #{auth} WHERE itemName = #{targetItemname};
    </update>
        
   <!-- remove_Item -->
    <delete id="removeItem" >
        DELETE FROM item_info WHERE itemName = #{targetItemname};
    </delete>
    
    
</mapper>
