<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<meta http-equiv="X-UA-Compatible" content="IE=edge">

<head>
<meta charset="UTF-8">
<title>LOGIN</title>

<!-- CSS読み込み -->
<link rel="stylesheet" th:href="@{css/deleteItem.css}"/>
</head>

<body>
 
  <form class="form" action="deleteItem" method="post" target="" rel="noopener">
    <h1>アイテム削除画面</h1>
    <p th:text="'アイテム情報を入力してください　：　 '  +  ${deleteItemBean.userId}"></p>
    <input type="hidden" name="userId" th:value="${deleteItemBean.userId}" />
    <input type="text" placeholder="targetItemname" name="targetItemname" value="" id="inputText1" />    
    <button type="submit" value="送信" id="inputSubmit">DELETE</button>
    <p class="message"> <a th:href="@{/login}">ログイン画面に戻る</a></p>
  </form>

</body>

</html>