<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<meta http-equiv="X-UA-Compatible" content="IE=edge">

<head>
<meta charset="UTF-8">
<title>LOGIN</title>

<!-- CSS読み込み -->
<link rel="stylesheet" th:href="@{css/registerUser.css}"/>
</head>

<body>
  <form class="form" action="createUserAccount" method="post" target="" rel="noopener">
    <h1>新規登録画面</h1>
    <input type="text" placeholder="username" name="loginId" value="" id="inputText1" />
    <input type="password" placeholder="password" name="loginPw" value="" id="inputText2" />
    <button type="submit" value="送信" id="inputSubmit">CREATE</button>
    <!-- <p class="message"> <a href="http://localhost:8080/login">ログイン画面に戻る</a></p> -->
    <p class="message"> <a th:href="@{/login}">ログイン画面に戻る</a></p>
  </form>
</body>

</html>