<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>UserInfo</title>
<!-- CSS読み込み -->
<link rel="stylesheet" th:href="@{css/userInfo.css}"/>
<script th:src="@{/webjars/jquery/3.5.1/jquery.min.js}"></script>
<script th:src="@{/webjars/bootstrap/4.5.3/js/bootstrap.min.js}"></script>
</head>
<body>

    <h1>ユーザの資材管理情報画面</h1>
    <p th:text="'ようこそ、 '  +  ${userId}"　name="userId" id="inputText1"></p>
    <hr>
    <table border="1">
        <tr>
            <!-- <th>使用者名</th> -->
            <th>道具名</th>
            <th>数量</th>
            <th>金額</th>
            <!-- <th>ユーザPW</th> -->
        </tr>
        <tr th:each="userInfo : ${list}">
        	<!-- <td th:text="${userInfo.userId}"></td> -->
            <td th:text="${userInfo.itemName}"></td>
            <td th:text="${userInfo.total}"></td>
            <td th:text="${userInfo.cost}"></td>
            <td>
                <form th:action="deleteItem" method="post">
	                <!-- <input type="checkbox" id="checkBoo1" name="checkBoo" value="true"> -->
	                <input type="hidden" name="userId" th:value="${userId}" />
	                <input type="hidden" name="targetItemname" th:value="${userInfo.itemName}">
	                <input type="submit" value="削除">
                </form>
            </td>
            <!--<td th:text="${userInfo.name}"></td>
             <td th:text="${userInfo.userPw}"></td> -->
        </tr>
    </table>
    <hr>  
  <!--　画面遷移しない　 DB操作  -->   
  <select id="crudFunc">
  　　　<option value="select">SELET</option>
  　　　<option value="insert">INSERT</option>
  　　　<option value="update">UPDATE</option>
  　　　<option value="delete">DELETE</option>
  </select>

  <div class="form-item">
    <form class="form-select" id="form-select" action="userInfo" method="post" target="" rel="noopener">
      <input type="text" placeholder="username" name="userId" value="" id="inputText1" />
      <input type="password" placeholder="password" name="userPw" value="" id="inputText2" />
      <button type="submit" value="送信" id="inputSubmit">SELECT</button>
    </form>
  
    <form class="form-insert" id="form-insert" action="addItem" method="post" target="" rel="noopener">
      <input type="hidden" name="userId" th:value="${userId}" />
      <input type="text" placeholder="itemname" name="itemName" value="" id="inputText1" />
      <input type="text" placeholder="total" name="total" value="" id="inputText2" />
      <input type="text" placeholder="cost" name="cost" value="" id="inputText3" />
      <input type="text" placeholder="auth" name="auth" value="" id="inputText4" />    
      <button type="submit" value="送信" id="inputSubmit">INSERT</button>
    </form>
  
    <form class="form-update" id="form-update" action="updateItem" method="post" target="" rel="noopener">
      <input type="hidden" name="userId" th:value="${userId}" />
      <input type="text" placeholder="targetItemname" name="targetItemname" value="" id="inputText1" />
      <input type="text" placeholder="total" name="total" value="" id="inputText2" />
      <input type="text" placeholder="cost" name="cost" value="" id="inputText3" />
      <input type="text" placeholder="auth" name="auth" value="" id="inputText4" />    
      <button type="submit" value="送信" id="inputSubmit">UPDATE</button>
    </form>
  
    <form class="form-delete" id="form-delete" action="deleteItem" method="post" target="" rel="noopener">
      <input type="hidden" name="userId" th:value="${userId}" />
      <input type="text" placeholder="targetItemname" name="targetItemname" value="" id="inputText1" />    
      <button type="submit" value="送信" id="inputSubmit">DELETE</button>
    </form>
  </div>

  <!--　画面遷移  -->
  <form class="form" action="toAddItem" method="post" target="" rel="noopener">
    <input type="hidden" name="userId" th:value="${userId}" />
    <button type="submit" value="送信" id="inputSubmit">アイテム追加</button>
  </form>
  
  <form class="form" action="toUpdateItem" method="post" target="" rel="noopener">
    <input type="hidden" name="userId" th:value="${userId}" />
    <button type="submit" value="送信" id="inputSubmit">アイテム更新</button>
  </form>
  
  <form class="form" action="toDeleteItem" method="post" target="" rel="noopener">
    <input type="hidden" name="userId" th:value="${userId}" />
    <button type="submit" value="送信" id="inputSubmit">アイテム削除</button>
  </form>

  <p class="message"> <a th:href="@{/login}">ログイン画面に戻る</a></p>
    
</body>

<script th:src="@{/js/userInfo.js}"></script> 

</html>